{
    "graph": "{{ mount_point }}/docker",
    "storage-driver": "overlay",
    "default-runtime": "nvidia",
    "runtimes": {
        "nvidia": {
            "path": "/usr/bin/nvidia-container-runtime",
            "runtimeArgs": []
        }
    }
}
